body{
  font-family: 'Courier New', monospace;
  background-color: rgb(254, 255, 221);
}


a{
    text-align: center;
    text-decoration: none;
    color: #d27d7d;
    margin-left: 60px;
    font-size: 35px;
}

h1{
  color: #d27d7d;
}

p{
  color: #d27d7d;
}



